/* General Styles*/

:root {
    /* Primary */
    --color-intro-email-darkblue: hsl(217, 28%, 15%);
    --color-main-darkblue: hsl(218, 28%, 13%);
    --color-footer-darkblue: hsl(216, 53%, 9%);
    --color-testimonial-darkblue: hsl(219, 30%, 18%);

    /* Accent */
    --color-call-cyan: hsl(176, 68%, 64%);
    --color-call-blue: hsl(198, 60%, 50%);
    --color-error-red: hsl(0, 100%, 63%);
    
    /* font */
    --color-white: hsl(192, 64%, 91%);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background: var(--color-main-darkblue);
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    min-height: 100%;
    text-align: center;
    padding-top: 3rem;
}

main {
    text-align: center;
}

.wrapper {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}


h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 2.3rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 1.8rem;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    line-height: 2.5rem;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
}

#nav-bar img {
    max-width: 80px;
    max-height: auto;
}

#nav-bar li {
    font-size: 14px;
    text-align: right;
    display: inline;
    margin-left: 1rem;
}

/* Main Body */

.deco-pic {
    width: 80%;
    height: auto;
}

.action-btn {
    background: linear-gradient(0.25turn, var(--color-call-cyan), var(--color-call-blue));
    border-radius: 50px;
    border-style: none;
    color: var(--color-white);
    font-size: 2rem;
    margin-top: 30px;
    padding: 10px 35px 10px 35px;
}

.features img {
    margin-top: 3.5rem;
}

.features p {
    font-size: 14px;
    margin-bottom: 5rem;
}

.stay-productive img {
    width: 85%;
    height: auto;
}

.stay-productive p,
.stay-productive a {
    text-align: left;
}

#learn-more-link {
    color: var(--color-call-cyan);
    text-decoration: underline;
}

#learn-more-link img {
    width: 20px;
    height: 20px;
}

.reviews li {
    background: var(--color-testimonial-darkblue);
    border-radius: 7px;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 2.3rem;
    max-width: 500px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
    margin-right: 1rem;
}

.reviews p {
    text-align: left;
    padding-top: 1rem;
}

.reviewer-meta {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 1.5rem;
}

.reviewer-meta img {
    border-radius: 50%;
    height: 3rem;
    width:  3rem;
    margin-right: 1.2rem;
}

.reviewer-name {
    text-align: left;
}

.reviewer-name h3 {
    margin-bottom: 0.5rem;
}

.reviewer-name span {
    font-size: 0.97rem;
}


.action-call {
    background: var(--color-intro-email-darkblue);
    border-radius: 7px;
    margin-top: 20rem;
    margin-bottom: 12rem;
    text-align: center;
    padding: 3rem;
}

.action-email {
    border-radius: 50px;
    border-style: none;
    font-size: 2rem;
    margin-top: 30px;
    padding: 10px 28px 10px 28px;
}

/* Footer */

footer {
    text-align: left;
}


footer div {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

footer ul {
    margin-top: 6rem;
    margin-bottom: 4rem;
}

footer ul li {
    margin-top: 2rem;
}

.social-media {
    text-align: center;
}

.social-media img {
    width: 30px;
    height: 30px;
    margin: 5px;
}

.attribution a {
    color:var(--color-call-cyan);
    text-decoration: none;
}

/* Media Queries*/

@media(min-width: 650px) {
    .wrapper {
        width: 80%;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media(min-width: 900px) {
    .wrapper {
        width: 100%;
        text-align: center;
        padding-left: 10%;
        padding-right: 10%;
    }

    .features {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .action-call {
        text-align: center;
        max-width: 750px;
    }

    .contact {
        margin-top: 0;
    }

    .reviews {
        display: flex;
    }

    footer ul {
        margin-top: 0;
    }

    .footer-items {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

@media (min-width: 1050px) {
    h1 {
        font-size: 4.8rem;
    }
}