:root {
    /* Primary */
    --color-intro-email-darkblue: hsl(217, 28%, 15%);
    --color-main-darkblue: hsl(218, 28%, 13%);
    --color-footer-darkblue: hsl(216, 53%, 9%);
    --color-testimonial-darkblue: hsl(219, 30%, 18%);

    /* Accent */
    --color-call-cyan: hsl(176, 68%, 64%);
    --color-call-blue: hsl(198, 60%, 50%);
    --color-error-red: hsl(0, 100%, 63%);
    
    /* font */
    --color-white: hsl(0, 0%, 100%);
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    min-height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--color-main-darkblue);
    color: var(--color-white);
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    padding: 8rem 0 10rem;
    min-height: 100%;
    text-align: center;
}